<!DOCTYPE html>
<html>
		
<head>
	
	<title>삼 환 서 점</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/Users/yazz/Documents/samhwan/view/test.css">

</head>
<body>
<!-- number, 견적서 -->
<div class='no-div'>

NO.&ensp;&ensp;&ensp;1&ensp;&ensp;&ensp;

</div>
<div class='title-div'>
	
		&ensp;&ensp;&ensp;견 &ensp;&ensp;&ensp; 적 &ensp;&ensp;&ensp; 서&ensp;&ensp;&ensp;

</div>
<div class='etc-div'></div>
<div class='test-div'>blink</div>

	<!-- 날짜 및 거래처 명 -->

<div class='date-div'>
	<br>
	&ensp;<script type="text/javascript" src="/Users/yazz/Documents/samhwan/view/data.js"></script>
	<br><br>
	<div style="float:right;" >
	<input type="text"  input style= "border:none; text-decoration: underline; font-size:20px; text-align: right;" id="company_name"> 
	
	<u>귀하</u> 
   </div>


</script>
	
</div>

<div class='blink-div'></div>
<div class='bookinfor-div'>
	<img src= "/Users/yazz/Documents/samhwan/view/book_infor.png" style="float:right;"  width="80%" height="100%">


</div>
<div class='test-div'>blink</div>

<!-- main form -->

<div class='main-box2'>메인</div>

<style>
	table, th, td {
	  border: 1px solid black;
	  border-collapse: collapse;
	}
	</style>
<table width = "100%;" id = "booktable">
	
	<th width = "40%;">총합계금액</th>	<th colspan="6" width = "60%;">가격</th> 
	<tr><!-- 첫번째 줄 시작 -->
	    <td width = "40%;" style="text-align: center;">제 목</td>
		<td width = "12%;" style="text-align: center;"> 출판사</td>
		<td width = "6%;" style="text-align: center;"> 수량</td>
		<td width = "14%;" style="text-align: center;">시중가</td>
		<td width = "14%;" style="text-align: center;">공급가액</td>
		<td width = "14%;" style="text-align: center;">비고</td>
	</tr><!-- 첫번째 줄 끝 -->

	<tr><!-- 두번째 줄 시작 -->
		<td width = "40%;" style="text-align: center;">test1</td>
		<td width = "12%;" style="text-align: center;">test2</td>
		<td width = "6%;" style="text-align: center;">test3</td>
		<td id = "value"  width = "14%;" style="text-align: center;">1</td>
		<td width = "14%;" style="text-align: center;">test5</td>
		<td width = "14%;" style="text-align: center;">test6</td>
	</tr><!-- 두번째 줄 끝 -->

	<tr><!-- 세번째 줄 시작 -->
		<td width = "40%;" style="text-align: center;">test1</td>
		<td width = "12%;" style="text-align: center;">test2</td>
		<td width = "6%;" style="text-align: center;">test3</td>
		<td id = "value" width = "14%;" style="text-align: center;">2</td>
		<td width = "14%;" style="text-align: center;">test5</td>
		<td width = "14%;" style="text-align: center;">test6</td>
	</tr><!-- 세번째 줄 끝 -->

	<tr><!-- 4번째 줄 시작 -->
		<td width = "40%;" style="text-align: center;">test1</td>
		<td width = "12%;" style="text-align: center;">test2</td>
		<td width = "6%;" style="text-align: center;">test3</td>
		<td id = "value" width = "14%;" style="text-align: center;">3</td>
		<td width = "14%;" style="text-align: center;">test5</td>
		<td width = "14%;" style="text-align: center;">test6</td>
	</tr><!-- 4번째 줄 끝 -->

	<tr><!-- 5번째 줄 시작 -->
		<td width = "40%;" style="text-align: center;">test1</td>
		<td width = "12%;" style="text-align: center;">test2</td>
		<td width = "6%;" style="text-align: center;">test3</td>
		<td id = "value" width = "14%;" style="text-align: center;">4</td>
		<td width = "14%;" style="text-align: center;">test5</td>
		<td width = "14%;" style="text-align: center;">test6</td>
	</tr><!-- 5번째 줄 끝 -->

	<tr><!-- 6번째 줄 시작 -->
		<td width = "40%;" style="text-align: center;">test1</td>
		<td width = "12%;" style="text-align: center;">test2</td>
		<td width = "6%;" style="text-align: center;">test3</td>
		<td id = "value" width = "14%;" style="text-align: center;">5</td>
		<td width = "14%;" style="text-align: center;">test5</td>
		<td width = "14%;" style="text-align: center;">test6</td>
	</tr><!-- 6번째 줄 끝 -->

	<tr><!-- 7번째 줄 시작 -->
		<td width = "40%;" style="text-align: center;">test1</td>
		<td width = "12%;" style="text-align: center;">test2</td>
		<td width = "6%;" style="text-align: center;">test3</td>
		<td id = "value" width = "14%;" style="text-align: center;">6</td>
		<td width = "14%;" style="text-align: center;">test5</td>
		<td width = "14%;" style="text-align: center;">test6</td>
	</tr><!-- 7번째 줄 끝 -->

	<tr><!-- 8번째 줄 시작 -->
		<td width = "40%;" style="text-align: center;">test1</td>
		<td width = "12%;" style="text-align: center;">test2</td>
		<td width = "6%;" style="text-align: center;">test3</td>
		<td id = "value" width = "14%;" style="text-align: center;">7</td>
		<td width = "14%;" style="text-align: center;">test5</td>
		<td width = "14%;" style="text-align: center;">test6</td>
	</tr><!-- 8번째 줄 끝 -->

	<tr><!-- 9번째 줄 시작 -->
		<td width = "40%;" style="text-align: center;">test1</td>
		<td width = "12%;" style="text-align: center;">test2</td>
		<td width = "6%;" style="text-align: center;">test3</td>
		<td id = "value" width = "14%;" style="text-align: center;">8</td>
		<td width = "14%;" style="text-align: center;">test5</td>
		<td width = "14%;" style="text-align: center;">test6</td>
	</tr><!-- 9번째 줄 끝 -->

	<tr><!-- 10번째 줄 시작 -->
		<td width = "40%;" style="text-align: center;">test1</td>
		<td width = "12%;" style="text-align: center;">test2</td>
		<td width = "6%;" style="text-align: center;">test3</td>
		<td id = "value" width = "14%;" style="text-align: center;">9</td>
		<td width = "14%;" style="text-align: center;">test5</td>
		<td width = "14%;" style="text-align: center;">test6</td>
	</tr><!-- 10번째 줄 끝 -->


	<tr><!-- 11번째 줄 시작 -->
		<td width = "40%;" style="text-align: center;">test1</td>
		<td width = "12%;" style="text-align: center;">test2</td>
		<td width = "6%;" style="text-align: center;">test3</td>
		<td id = "value" width = "14%;" style="text-align: center;">10</td>
		<td width = "14%;" style="text-align: center;">test5</td>
		<td width = "14%;" style="text-align: center;">test6</td>
	</tr><!-- 11번째 줄 끝 -->

	<tr><!-- 12번째 줄 시작 -->
		<td width = "40%;" style="text-align: center;">test 1</td>
		<td width = "12%;" style="text-align: center;">test 2</td>
		<td width = "6%;" style="text-align: center;">test 3</td>
		<td width = "12%;" style="text-align: center;">test </td>
		<td width = "12%;" style="text-align: center;">test </td>
		<td width = "12%;" style="text-align: center;">test </td>
	</tr><!-- 12번째 줄 끝 -->





	<tr><!-- 13번째 줄 시작 -->
		
		
		<td width = "40%;" colspan="2" style="text-align: center;" >합계 </td>
		<td width = "12%;" style="text-align: center;">test 1</td>
		<td width = "12%;" style="text-align: center;">test 2</td>
		<td width = "12%;" style="text-align: center;">test 3</td>
		<td width = "12%;" style="text-align: center;">test 4</td>
		
		<script type="text/javascript">
			function sum()
		
			{
			   var table = document.getElementById("booktable");
				console.log(table)
				var tb_value = table.getElementsByTagName("td");
				
				 for(var i=0; i< tb_value.length ; i++)
				  {
				    // var value_book = tb_value[i].getElementsByTagName("value")
					// value_book = tb_value[i]
					value_book = tb_value[i].getAttribute("id")
					var num = 0
					if(value_book == "value")
					{
						
						var inner_Value = 
						console.log(inner_Value)
					    
					}
				  
				 }
				
			}
			sum()
		</script>
			
	</tr><!-- 13번째 줄 끝 -->







	<tr><!-- 합계 줄 시작 -->
		
	</tr><!-- 합계 줄 끝 -->
	
	
	<tr><!-- blink 줄 시작 -->
		
	</tr><!-- blink 줄 끝 -->

</table>


</body>
</html>