<!DOCTYPE html>
<html>
		
<head>
	
	<title>삼 환 서 점</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/Users/yazz/Documents/samhwanbook/view/test.css">

</head>
<body>
<!-- number, 견적서 -->
<div class='no-div'>

NO.&ensp;&ensp;&ensp;1&ensp;&ensp;&ensp;

</div>
<div class='title-div'>
	
		&ensp;&ensp;&ensp;견 &ensp;&ensp;&ensp; 적 &ensp;&ensp;&ensp; 서&ensp;&ensp;&ensp;

</div>
<div class='etc-div'></div>
<div class='test-div'></div>

	<!-- 날짜 및 거래처 명 -->

<div class='date-div'>
	<br>
	&ensp;<script type="text/javascript" src="/Users/yazz/Documents/samhwanbook/view/data.js"></script>
	<br><br>
	<div style="float:right;" >
	<input type="text"  input style= "border:none; text-decoration: underline; font-size:20px; text-align: right;" id="company_name"> 
	
	<u>귀하</u> 
   </div>


</script>
	
</div>

<div class='blink-div'></div>
<div class='bookinfor-div'>
	<img src= "/Users/yazz/Documents/samhwanbook/view/book_infor.png" style="float:right;"  width="80%" height="100%">


</div>
<div class='test-div'></div>

<!-- main form -->

<div class='main-box2'>메인</div>

<style>
	table, th, td {
	  border: 1px solid black;
	  border-collapse: collapse;
	}
	</style>
<table width = "100%;" id = "booktable">
	
	<th width = "40%;">총합계금액</th>	<th colspan="6" width = "60%;">가격</th> 
	<tr><!-- 첫번째 줄 시작 -->
	    <td width = "40%;" style="text-align: center;">제 목</td>
		<td width = "12%;" style="text-align: center;"> 출판사</td>
		<td width = "6%;" style="text-align: center;"> 수량</td>
		<td width = "14%;" style="text-align: center;">시중가</td>
		<td width = "14%;" style="text-align: center;">공급가액</td>
		<td width = "14%;" style="text-align: center;">비고</td>
	</tr><!-- 첫번째 줄 끝 -->
	<tr><!-- 두번째 줄 시작 -->
		<!-- 제목 -->
		<td width = "40%;" style="text-align: center;">
			<span type="text"  id = "title_select0" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			</span>
	</td>
	<!-- 출판사 -->
		<td width = "12%;" style="text-align: center;">
			<span type="text"  id = "book_publish0" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			</span>
	</td>
		<!-- 수량 -->
		<td width = "6%;" style="text-align: center;">
		<span type="text"  id = "book_qty0" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0
		</span>
	</td>
	<!-- 시중가 -->
		<td id = "value1"  width = "14%;" style="text-align: center;">
			<span type="text"  id = "book_price0" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0</span>
		</td>
		<!-- 공급가 -->
		<td width = "14%;" style="text-align: center;">
		<span type="text"  id = "sale_book_price0" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0</span>
		</td>
		<!-- 비고 -->
		<td width = "14%;" style="text-align: center;"></td>
	</tr><!-- 두번째 줄 끝 -->

	<tr><!-- 세번째 줄 시작 -->
		<!-- 제목 -->
		<td width = "40%;" style="text-align: center;">
			<span type="text"  id = "title_select1" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			</span>
	</td>
	<!-- 출판사 -->
		<td width = "12%;" style="text-align: center;">
			<span type="text"  id = "book_publish1" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			</span>
	</td>
		<!-- 수량 -->
		<td width = "6%;" style="text-align: center;">
		<span type="text"  id = "book_qty1" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0
		</span>
	</td>
	<!-- 시중가 -->
		<td id = "value1"  width = "14%;" style="text-align: center;">
			<span type="text"  id = "book_price1" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0</span>
		</td>
		<!-- 공급가 -->
		<td width = "14%;" style="text-align: center;">
			<span type="text"  id = "sale_book_price1" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0</span>
		</td>
		<!-- 비고 -->
		<td width = "14%;" style="text-align: center;"></td>
	</tr><!-- 세번째 줄 끝 -->
	<tr><!-- 네번째 줄 시작 -->
		<!-- 제목 -->
		<td width = "40%;" style="text-align: center;">
			<span type="text"  id = "title_select2" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			</span>
	</td>
		<!-- 출판사 -->
		<td width = "12%;" style="text-align: center;">
			<span type="text"  id = "book_publish2" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			</span>
	</td>
		<!-- 수량 -->
		<td width = "6%;" style="text-align: center;">
		<span type="text"  id = "book_qty2" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0
		</span>
	</td>
	<!-- 시중가 -->
		<td id = "value1"  width = "14%;" style="text-align: center;">
			<span type="text"  id = "book_price2" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0</span>
		</td>
		<!-- 공급가 -->
		<td width = "14%;" style="text-align: center;">
		<span type="text"  id = "sale_book_price2" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0</span>
		</td>
		<!-- 비고 -->
		<td width = "14%;" style="text-align: center;"></td>
	</tr><!-- 네번째 줄 끝 -->
	<tr><!-- 다섯째 줄 시작 -->
		<!-- 제목 -->
		<td width = "40%;" style="text-align: center;">
			<span type="text"  id = "title_select3" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			</span>
	</td>
		<!-- 출판사 -->
		<td width = "12%;" style="text-align: center;">
			<span type="text"  id = "book_publish3" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			</span>
	</td>
		<!-- 수량 -->
		<td width = "6%;" style="text-align: center;">
		<span type="text"  id = "book_qty3" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
		0
		</span>
	</td>
	<!-- 시중가 -->
		<td id = "value1"  width = "14%;" style="text-align: center;">
			<span type="text"  id = "book_price3" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0</span>
		</td>
		<!-- 공급가 -->
		<td width = "14%;" style="text-align: center;">
		<span type="text"  id = "sale_book_price3" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0</span>
		</td>
		<!-- 비고 -->
		<td width = "14%;" style="text-align: center;"></td>
	</tr><!-- 다섯째 줄 끝 -->


	<tr><!-- 6번째 줄 시작 -->
		<!-- 제목 -->
		<td width = "40%;" style="text-align: center;">
			<span type="text"  id = "title_select4" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			</span>
	</td>
	<!-- 출판사 -->
		<td width = "12%;" style="text-align: center;">
			<span type="text"  id = "book_publish4" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			</span>
	</td>
		<!-- 수량 -->
		<td width = "6%;" style="text-align: center;">
		<span type="text"  id = "book_qty4" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
		0
		</span>
	</td>
		<!-- 시중가 -->
		<td id = "value1"  width = "14%;" style="text-align: center;">
			<span type="text"  id = "book_price4" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0
			</span>
		</td>
		<!-- 공급가 -->
		<td width = "14%;" style="text-align: center;">
			<span type="text"  id = "sale_book_price4" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0
			</span>
		</td>
		<!-- 비고 -->
		<td width = "14%;" style="text-align: center;"></td>

	</tr><!-- 6번째 줄 끝 -->

	<tr><!-- 7번째 줄 시작 -->
			<!-- 제목 -->
			<td width = "40%;" style="text-align: center;">
				<span type="text"  id = "title_select5" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
				</span>
		</td>
		<!-- 출판사 -->
			<td width = "12%;" style="text-align: center;">
				<span type="text"  id = "book_publish5" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
				</span>
		</td>
		<!-- 수량 -->
			<td width = "6%;" style="text-align: center;">
			<span type="text"  id = "book_qty5" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0
			</span>
		</td>
		<!-- 시중가 -->
			<td id = "value1"  width = "14%;" style="text-align: center;">
				<span type="text"  id = "book_price5" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
				0
				</span>
			</td>
			<!-- 공급가 -->
			<td width = "14%;" style="text-align: center;">
			<span type="text"  id = "sale_book_price5" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0	
			</span>
			</td>
			<!-- 비고 -->
			<td width = "14%;" style="text-align: center;"></td>
		</tr><!-- 7번째 줄 끝 -->
	<tr><!-- 8번째 줄 시작 -->
		<!-- 제목 -->
		<td width = "40%;" style="text-align: center;">
			<span type="text"  id = "title_select6" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			</span>
	</td>
		<!-- 출판사 -->
		<td width = "12%;" style="text-align: center;">
			<span type="text"  id = "book_publish6" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			</span>
	</td>
	<!-- 수량 -->
		<td width = "6%;" style="text-align: center;">
		<span type="text"  id = "book_qty6" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
		0
		</span>
	</td>
		<!-- 시중가 -->
		<td id = "value1"  width = "14%;" style="text-align: center;">
			<span type="text"  id = "book_price6" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0
			</span>
		</td>
		<!-- 공급가 -->
		<td width = "14%;" style="text-align: center;">
			<span type="text"  id = "sale_book_price6" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0
			</span>
		</td>
		<!-- 비고 -->
		<td width = "14%;" style="text-align: center;"></td>
	</tr><!-- 8번째 줄 끝 -->

	<tr><!-- 9번째 줄 시작 -->
		<!-- 제목 -->
		<td width = "40%;" style="text-align: center;">
			<span type="text"  id = "title_select7" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			</span>
	</td>
		<!-- 출판사 -->
		<td width = "12%;" style="text-align: center;">
			<span type="text"  id = "book_publish7" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			</span>
	</td>
		<!-- 수량 -->
		<td width = "6%;" style="text-align: center;">
		<span type="text"  id = "book_qty7" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
		0
		</span>
	</td>
		<!-- 시중가 -->
		<td id = "value1"  width = "14%;" style="text-align: center;">
			<span type="text"  id = "book_price7" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0
			</span>
		</td>
	<!-- 공급가 -->
		<td width = "14%;" style="text-align: center;">
			<span type="text"  id = "sale_book_price7" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			
			0
		</span>
		</td>
		<!-- 비고 -->
		<td width = "14%;" style="text-align: center;"></td>
	</tr><!-- 9번째 줄 끝 -->
	<tr><!-- 10번째 줄 시작 -->
	<!-- 제목 -->
	<td width = "40%;" style="text-align: center;">
		<span type="text"  id = "title_select8" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
		</span>
</td>
	<!-- 출판사 -->
	<td width = "12%;" style="text-align: center;">
		<span type="text"  id = "book_publish8" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
		</span>
</td>
	<!-- 수량 -->
	<td width = "6%;" style="text-align: center;">
	<span type="text"  id = "book_qty8" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
	0
	</span>
</td>
	<!-- 시중가 -->
	<td id = "value1"  width = "14%;" style="text-align: center;">
		<span type="text"  id = "book_price8" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0
		</span>
	</td>
	<!-- 공급가 -->
	<td width = "14%;" style="text-align: center;">
	
		<span type="text"  id = "sale_book_price8" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
		0
		</span>
	</td>
	<!-- 비고 -->
	<td width = "14%;" style="text-align: center;"></td>
	</tr><!-- 10번째 줄 끝 -->
	<tr><!-- 11번째 줄 시작 -->
	<!-- 제목 -->
	<td width = "40%;" style="text-align: center;">
		<span type="text"  id = "title_select9" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
		</span>
</td>
	<!-- 출판사 -->
	<td width = "12%;" style="text-align: center;">
		<span type="text"  id = "book_publish9" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
		</span>
</td>
	<!-- 수량 -->
	<td width = "6%;" style="text-align: center;">
	<span type="text"  id = "book_qty9" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
0
	</span>
</td>
	
	<!-- 시중가 -->
	<td id = "value1"  width = "14%;" style="text-align: center;">
		<span type="text"  id = "book_price9" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0
		</span>
	</td>
	<!-- 공급가 -->
	<td width = "14%;" style="text-align: center;">
		<span type="text"  id = "sale_book_price9" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
		0
		</span>
		
	</td>
	<!-- 비고 -->
	<td width = "14%;" style="text-align: center;"></td>

	</tr><!-- 11번째 줄 끝 -->

	<tr><!-- 12번째 줄 시작 -->
	<!-- 제목 -->
	<td width = "40%;" style="text-align: center;">
		<span type="text"  id = "title_select10" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
		</span>
</td>
   <!-- 출판사 -->
	<td width = "12%;" style="text-align: center;">
		<span type="text"  id = "book_publish10" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
		</span>
</td>
	<!-- 수량 -->
	<td width = "6%;" style="text-align: center;">
	<span type="text"  id = "book_qty10" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
	0
	</span>
</td>
	
	<!-- 시중가 -->
	<td id = "value1"  width = "14%;" style="text-align: center;">
		<span type="text"  id = "book_price10" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0
		</span>
	</td>
	<!-- 공급가 -->
	<td width = "14%;" style="text-align: center;">
	
		<span type="text"  id = "sale_book_price10" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
			0
		</span>
	</td>
	<!-- 비고 -->
	<td width = "14%;" style="text-align: center;"></td>
	</tr><!-- 12번째 줄 끝 -->


	<tr><!-- 13번째 줄 시작 -->
		<td width = "40%;" colspan="2" style="text-align: center;" >합계 </td>
		<td width = "12%;" style="text-align: center;">	
			<span type="text" id = "sum_book_count" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
		0
			</span>
	</td>



		<td  width = "12%;"  style="text-align: center;">
			<span type="text" id = "sum_book_sales_value" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
				0
					</span>
	
		</td>
		<td width = "12%;" style="text-align: center;">
			<span type="text" id = "sum_book_discount_value" style="text-align: center;font-size:15px; border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">
				0
					</span>
		</td>
		<td width = "12%;" style="text-align: center;"></td>
	
			
	</tr><!-- 13번째 줄 끝 -->

	<tr><!-- 합계 줄 시작 -->
		
	</tr><!-- 합계 줄 끝 -->
	
	
	

</table>

<script src="/Users/yazz/Documents/samhwanbook/js/jquery-2.2.4.js"></script>
<br>
<br>
<br>   
<select name="title_value" id = "title_value">
	<option value="num0">차례1</option>
	<option value="num1">차례2</option>
	<option value="num2">차례3</option>
	<option value="num3">차례4</option>
	<option value="num4">차례5</option>
	<option value="num5">차례6</option>
	<option value="num6">차례7</option>
	<option value="num7">차례8</option>
	<option value="num8">차례9</option>
	<option value="num9">차례10</option>
	<option value="num10">차례11</option>
  </select>   




<input type="text" style="width:200px;height: 20px;"id="tx_Title" >
<input type="button" id="bt_Title" style="width:50px;height: 40;" value="data" />
<script type="text/javascript" 
	src="/Users/yazz/Documents/samhwanbook/js/test.js">

    </script>


</body>
</html>